.wrapper {
	border: 1px solid brown;
	padding: 15px;
	padding-bottom: 25px;
	border-radius: 5px;
}
.title {
	font-size: 30px;
	font-weight: bold;
}
.ing_usage_group {
	margin: 20px 0 40px 0;
	display: flex;
	flex-flow: column;
	gap: 20px;
}
.ing_usage_group .item {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.price {
	font-size: 18px;
}
.btns {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: 10px;
}
.del_btn {
	width: 100%;
	padding: 4px 18px;
	border-radius: 4px;
	color: white;
	font-weight: 700;
	background-color: rgb(224, 73, 73);
	transition: 0.2s ease;
}
.del_btn:hover {
	scale: 1.02;
	background-color: rgb(255, 0, 0);
}
.edit_btn {
	width: 100%;
	padding: 4px 18px;
	border-radius: 4px;
	color: white;
	font-weight: 700;
	background-color: rgb(114, 204, 85);
	transition: 0.2s ease;
}
.edit_btn:hover {
	scale: 1.02;
	background-color: rgb(155, 235, 129);
}
@media screen and (max-width: 480px) {
	.title {
		font-size: 24px;
	}
}
