.wrapper {
	border: 1px solid brown;
	padding: 15px;
	padding-bottom: 35px;
	border-radius: 5px;
}
.title {
	font-size: 30px;
}
.ing_usage_group {
	margin: 20px 0;
	display: flex;
	flex-flow: column;
	gap: 10px;
}
.ing_usage_group .item {
	display: flex;
	gap: 20px;
}
.price {
	font-size: 18px;
}
.del_btn {
	width: 100%;
	padding: 4px 18px;
	border-radius: 4px;
	color: white;
	font-weight: 700;
	background-color: red;
	transition: 0.2s ease;
	margin-top: 20px;
}
.del_btn:hover {
	background-color: rgb(231, 0, 0);
}
.edit_btn {
	width: 100%;
	padding: 4px 18px;
	border-radius: 4px;
	color: white;
	font-weight: 700;
	background-color: rgb(0, 195, 255);
	transition: 0.2s ease;
	margin-top: 20px;
}
.edit_btn:hover {
	background-color: rgb(0, 167, 218);
}
