.wrapper input {
	border: 1px solid brown;
	padding: 5px 10px;
	font-size: 18px;
	display: block;
	width: 100%;
	min-width: 150px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}
