.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 10px;
}
.title {
	font-size: 20px;
	font-weight: 600;
}
.content {
	display: flex;
	column-gap: 10px;
	align-items: center;
}
.remove_btn {
	padding: 5px 12px;
	background-color: red;
	border-radius: 4px;
	color: white;
}

.inp {
	text-align: right;
}
.metric_unit {
	font-size: 22px;
}

.unit_select {
	border: 1px solid brown;
	height: 31.8px;
	padding: 0 8px 0 4px;
	align-self: flex-end;
}
.unit_select option:nth-child(even) {
	background-color: rgb(255, 239, 219);
}
.unit_select:focus > option:checked {
	background: rgb(219, 205, 187);
}
