.wrapper {
	right: 30px;
	left: 30px;
	position: fixed;
	bottom: 30px;
}
.content {
	max-width: 510px;
	width: 100%;
	margin-left: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 10px;
}
.btn {
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
	background-color: black;
	border-radius: 4px;
	color: white;
	padding: 5px 12px;
	transition: 0.2s ease;
}
.btn:hover {
	background-color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 480px) {
	.wrapper {
		right: 20px;
		left: 20px;
	}
}
